@font-face {
  font-family: "Caveat Brush";
  font-style: regular;
  src: local("Caveat Brush"),
    url(../fonts/CaveatBrush-Regular.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
}

:root {
  --black: #1d1d1d;
  --green: #9ba566ff;
  --yellow: #e7b04bff;
  --white: #fffcf2;
  --red: #840103ff;
  --light: #f6f2e6;
}

/* ---------- NAV START ----------- */

nav {
  position: sticky;
  top: 0; /* tää oltava stickyn kanssa! :)*/
  background-color: var(--black);
  margin: auto;
  height: 103px;
  width: 80%;
  box-shadow: 0px 5px 20px 5px rgba(55, 55, 55, 0.529); /* oikee alas blur spread   */
  max-width: 1200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 100px;
}

li a {
  text-decoration: none;
  color: white;
}

.logo {
  height: 80px;
  margin: 10px 100px;
}

.navbar {
  position: relative;
}

a:hover {
  color: var(--red);
  text-decoration: underline;
  text-underline-offset: 10px;
}

a:active {
  font-style: italic;
  /* font-weight: bold; */
  color: var(--green);
}

.sign {
  color: var(--light);
  font-size: 30px;
  margin: 35px 15px;
}
.sign:hover {
  transition: color 2s;
  color: var(--red);
}

/* ---------- HERO -------*/

.hero {
  margin: auto;
  height: 60vh;
  min-height: 300px;
  max-height: 400px;
  width: 80%;
  display: flex;
  background: url(./pics/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  max-width: 1200px;
}

#hello-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 30%;
  height: 200px;
  /* background-color: palegoldenrod; */
  position: absolute;
  top: 8%;
  left: 100px;
}

h1 {
  margin-bottom: 5px;
  font-family: "Caveat Brush";
  font-style: italic;
  font-size: 3em;
  color: var(--white);
}

#hello-box p {
  margin: 5px 0;
  color: var(--white);
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
  word-spacing: 5px;
}
.fancy {
  font-family: "Caveat Brush";
  font-size: 1.3em;
}

/* ---------- NAV END ----------- */

/* ---------- MAIN START ----------- */

/*lopetetaan bodyn scrollaus, kun dialogi on auki*/
body:has(dialog[open]) {
  overflow-y: hidden;
}

main {
  /* background-color: aliceblue; */
  margin: auto;
  width: 80%;
  max-width: 1200px;
}

.menu-container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* tai pelkkä .option-btn */
.menu-container button {
  width: 100px;
  padding: 10px;
  font-size: 1.2em;
  background-color: #ffffff;
  border: 3px solid var(--red);
  border-radius: 8px;
  transition-duration: 0.3s;
}
.option-btn:hover {
  color: var(--light);
  background-color: var(--red);
}

/* ---------- MAIN END ----------- */

/* ---------- ABOUT US START ----------- */

.more {
  /* background-color: antiquewhite; */
  background-image: url(./pics/ingredients.png);
  margin: 10px auto;
  padding: 50px 20px;
  width: 80%;
  max-width: 1200px;
  position: relative;
}

h3 {
  color: rgb(80, 80, 80);
}

.about-text {
  margin: 10px;
  word-spacing: 5px;
}

.basil {
  height: 200px;
  margin: 0px 20px;
  float: left;
  border-radius: 20px;
}
.pizza {
  height: 200px;
  position: absolute;
  top: -110px;
  right: 20px;
  z-index: 2;
}

/* ---------- ABOUT US END ----------- */

/* ---------- FOOTER START ----------- */

footer {
  margin: 0px auto;
  background-color: var(--red);
  height: 80px;
}

footer p:first-child {
  font-size: 30px;
  padding-top: 10px;
}
.copyright {
  text-align: center;
}

footer p:last-child {
  color: var(--black);
  font-style: italic;
}
.hamburger {
  display: none;
}
/* ---------- FOOTER END ----------- */

/* ---------- MEDIA QUARIES --------- */
@media only screen and (max-width: 1100px) {
  .top-menu {
    gap: 50px;
  }
  .logo {
    margin: 10px 50px;
  }
  #hello-box {
    left: 50px;
  }
  #hello-box h1 {
    font-size: 2.5em;
  }
  #hello-box p {
    font-size: 1.1em;
  }
  .fancy {
    font-size: 1.2em;
  }

  .pizza {
    height: 150px;
    top: -60px;
  }
}

@media only screen and (max-width: 820px) {
  .navbar {
    flex-direction: column;
  }
  .top-menu {
    display: none;
  }
  .top-menu.responsive {
    display: flex;
    z-index: 2;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #hello-box {
    display: none;
  }
  .sign {
    margin: 0;
    text-align: center;
  }
  .sign:hover {
    transition: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 5vw;
    border: none;
    background-color: var(--black);
    font-size: 1.5rem;
  }

  .basil {
    height: 150px;
  }
}

@media only screen and (max-width: 650px) {
  .basil {
    margin: 0;
    float: none;
    display: block;
    width: 100%;
    height: auto;
  }
  .pizza {
    display: none;
  }
  h3 {
    margin: 10px;
  }
  h2 {
    margin: 10px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    min-width: 300px;
  }
  nav,
  .hero,
  .more {
    width: 90%;
  }
  .hero {
    height: 70px;
  }
}
